# --- Alles top-level ignorieren ---
/*

# --- Git-Metadaten & Doku trotzdem mitnehmen ---
!.gitignore
!.gitattributes
!.gitmodules
!README.md
!LICENSE
!README.*
!LICENSE.*

# --- Quellcode/Projektdateien erlauben ---
!ReverseDelayVST.jucer
!CMakeLists.txt
!/Source/
!/Source/**
!/Resources/
!/Resources/**
!/scripts/
!/scripts/**
!/VST/**


